.THIS .header-padding {
    background-color: white;
    height: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.THIS .edit-header {
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #dddbda;
    height: 40px;
}

.THIS .edit-title {
    display: inline;
}

.THIS .edit-details-button {
    float: right;
    padding-right: 10px;
}

.THIS .edit-body {
    overflow-y: scroll;
    max-height: 70vh;
    background-color: white;
}

.THIS .edit-footer {
    background-color: #f3f2f2;
    border-top: 1px solid #dddbda;
    height: 50px;
    text-align: right;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}